ul.styled
	list-style none
	margin 16px 22px
	padding 0
	
	li
		font-size 14px
		margin 16px 0
		padding 8px 0
		
		&::before
			{after}
			width 26px
			height 30px
			vertical-align middle
			background url('i/list-icon.png') no-repeat center
			
		span
			top 6px
			display inline-block
			vertical-align middle
			margin-left 32px
	