@font-face {
	font-family: "icon-weather";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: 'icon-weather';
font-style: normal;
}.flaticon-cloud351:before {
	content: "\e000";
}
.flaticon-cloud352:before {
	content: "\e001";
}
.flaticon-cloud353:before {
	content: "\e002";
}
.flaticon-cloud354:before {
	content: "\e003";
}
.flaticon-cloud355:before {
	content: "\e004";
}
.flaticon-cloud356:before {
	content: "\e005";
}
.flaticon-cloud357:before {
	content: "\e006";
}
.flaticon-cloud358:before {
	content: "\e007";
}
.flaticon-cloud359:before {
	content: "\e008";
}
.flaticon-cloud360:before {
	content: "\e009";
}
.flaticon-cloud361:before {
	content: "\e00a";
}
.flaticon-cloud362:before {
	content: "\e00b";
}
.flaticon-cloud363:before {
	content: "\e00c";
}
.flaticon-cloud364:before {
	content: "\e00d";
}
.flaticon-clouds21:before {
	content: "\e00e";
}
.flaticon-cloudy54:before {
	content: "\e00f";
}
.flaticon-cloudy55:before {
	content: "\e010";
}
.flaticon-cloudy56:before {
	content: "\e011";
}
.flaticon-cloudy57:before {
	content: "\e012";
}
.flaticon-cloudy58:before {
	content: "\e013";
}
.flaticon-compass114:before {
	content: "\e014";
}
.flaticon-compass2:before {
	content: "\e015";
}
.flaticon-compass3:before {
	content: "\e016";
}
.flaticon-compass4:before {
	content: "\e017";
}
.flaticon-degrees2:before {
	content: "\e018";
}
.flaticon-eclipse6:before {
	content: "\e019";
}
.flaticon-fahrenheit7:before {
	content: "\e01a";
}
.flaticon-fog1:before {
	content: "\e01b";
}
.flaticon-fog22:before {
	content: "\e01c";
}
.flaticon-foggy1:before {
	content: "\e01d";
}
.flaticon-fog:before {
	content: "\e01e";
}
.flaticon-hail8:before {
	content: "\e01f";
}
.flaticon-hail:before {
	content: "\e020";
}
.flaticon-half moon:before {
	content: "\e021";
}
.flaticon-hurricane1:before {
	content: "\e022";
}
.flaticon-lighting1:before {
	content: "\e023";
}
.flaticon-lightning32:before {
	content: "\e024";
}
.flaticon-lightning33:before {
	content: "\e025";
}
.flaticon-lightning34:before {
	content: "\e026";
}
.flaticon-lightning35:before {
	content: "\e027";
}
.flaticon-lightning36:before {
	content: "\e028";
}
.flaticon-moon160:before {
	content: "\e029";
}
.flaticon-moon161:before {
	content: "\e02a";
}
.flaticon-moon162:before {
	content: "\e02b";
}
.flaticon-moon3:before {
	content: "\e02c";
}
.flaticon-rain59:before {
	content: "\e02d";
}
.flaticon-rain60:before {
	content: "\e02e";
}
.flaticon-rain61:before {
	content: "\e02f";
}
.flaticon-rain62:before {
	content: "\e030";
}
.flaticon-rain63:before {
	content: "\e031";
}
.flaticon-rain64:before {
	content: "\e032";
}
.flaticon-rain65:before {
	content: "\e033";
}
.flaticon-rain66:before {
	content: "\e034";
}
.flaticon-rain67:before {
	content: "\e035";
}
.flaticon-rain68:before {
	content: "\e036";
}
.flaticon-rain69:before {
	content: "\e037";
}
.flaticon-rain70:before {
	content: "\e038";
}
.flaticon-rain71:before {
	content: "\e039";
}
.flaticon-rain72:before {
	content: "\e03a";
}
.flaticon-rain73:before {
	content: "\e03b";
}
.flaticon-raindrop4:before {
	content: "\e03c";
}
.flaticon-raindrops7:before {
	content: "\e03d";
}
.flaticon-rainy1:before {
	content: "\e03e";
}
.flaticon-rainy20:before {
	content: "\e03f";
}
.flaticon-snowflake:before {
	content: "\e040";
}
.flaticon-storm15:before {
	content: "\e041";
}
.flaticon-storm16:before {
	content: "\e042";
}
.flaticon-storm17:before {
	content: "\e043";
}
.flaticon-storm2:before {
	content: "\e044";
}
.flaticon-storm:before {
	content: "\e045";
}
.flaticon-sun100:before {
	content: "\e046";
}
.flaticon-sun4:before {
	content: "\e047";
}
.flaticon-sunrise8:before {
	content: "\e048";
}
.flaticon-sunset10:before {
	content: "\e049";
}
.flaticon-sunset11:before {
	content: "\e04a";
}
.flaticon-thermometer2:before {
	content: "\e04b";
}
.flaticon-thermometer63:before {
	content: "\e04c";
}
.flaticon-thermometer65:before {
	content: "\e04d";
}
.flaticon-thermometer66:before {
	content: "\e04e";
}
.flaticon-umbrella58:before {
	content: "\e04f";
}
.flaticon-umbrella59:before {
	content: "\e050";
}
.flaticon-wind36:before {
	content: "\e051";
}
.flaticon-wind37:before {
	content: "\e052";
}
.flaticon-wind38:before {
	content: "\e053";
}
.flaticon-wind39:before {
	content: "\e054";
}
.flaticon-wind40:before {
	content: "\e055";
}
.flaticon-wind41:before {
	content: "\e056";
}
.flaticon-wind42:before {
	content: "\e057";
}
.flaticon-wind43:before {
	content: "\e058";
}
.flaticon-wind44:before {
	content: "\e059";
}
.flaticon-wind45:before {
	content: "\e05a";
}
