/* ===================== WORK FILES ===================== */
 html, body {
   border: 0;
   margin: 0;
   padding: 0;
   width: 100%;
   line-height: 1.5;
}
 div, span, object, iframe, img, table, caption, thead, tbody, tfoot, tr, td, article, aside, canvas, details, figure, hgroup, menu, nav, footer, header, section, summary, mark, audio, video {
   border: 0;
   margin: 0;
   padding: 0;
}
 h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code, del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, legend, label {
   border: 0;
   vertical-align: baseline;
   margin: 0;
   padding: 0;
}
 article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
   display: block;
}
 table {
   border-collapse: collapse;
   border-spacing: 0;
}
 table caption, table th, table td {
   text-align: left;
   vertical-align: middle;
}
 a, a:hover, a:visited, a:active {
   text-decoration: none;
}
 a img {
   border: 0;
}
 * {
   box-sizing: border-box;
   position: relative;
}
 *:focus {
   outline: 0;
}
 @font-face {
   font-family: 'pf_square_sans_probold';
   src: url("../fonts/pfsquaresanspro-bold-webfont.eot");
   src: url("../fonts/pfsquaresanspro-bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfsquaresanspro-bold-webfont.woff2") format('woff2'), url("../fonts/pfsquaresanspro-bold-webfont.woff") format('woff'), url("../fonts/pfsquaresanspro-bold-webfont.ttf") format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'pf_square_sans_prolight';
   src: url("../fonts/pfsquaresanspro-light-webfont.eot");
   src: url("../fonts/pfsquaresanspro-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfsquaresanspro-light-webfont.woff2") format('woff2'), url("../fonts/pfsquaresanspro-light-webfont.woff") format('woff'), url("../fonts/pfsquaresanspro-light-webfont.ttf") format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'pf_square_sans_promedium';
   src: url("../fonts/pfsquaresanspro-medium-webfont.eot");
   src: url("../fonts/pfsquaresanspro-medium-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfsquaresanspro-medium-webfont.woff2") format('woff2'), url("../fonts/pfsquaresanspro-medium-webfont.woff") format('woff'), url("../fonts/pfsquaresanspro-medium-webfont.ttf") format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'pf_square_sans_proregular';
   src: url("../fonts/pfsquaresanspro-regular-webfont.eot");
   src: url("../fonts/pfsquaresanspro-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pfsquaresanspro-regular-webfont.woff2") format('woff2'), url("../fonts/pfsquaresanspro-regular-webfont.woff") format('woff'), url("../fonts/pfsquaresanspro-regular-webfont.ttf") format('truetype');
   font-weight: normal;
   font-style: normal;
}
/* ===================== BLOCKS ===================== */
 * {
   position: relative;
   box-sizing: border-box;
}
 body, html {
   width: 100%;
   min-height: 100%;
   padding: 0;
   margin: 0;
}
 .button3d {
   display: inline-block;
   position: relative;
   padding: 20px 80px;
   margin: 10px 10px;
   cursor: pointer;
   opacity: 1;
   -webkit-transition: all 4s cubic-bezier(0.25, 0.25, 0, 1);
   transition: all 4s cubic-bezier(0.25, 0.25, 0, 1);
   z-index: 200;
}
 @media (max-width: 767px) {
   .button3d {
     padding: 10px 40px;
  }
}
 @media (min-width: 768px) {
   .button3d {
     padding: 10px 40px;
  }
}
 @media (min-width: 1200px) {
   .button3d {
     padding: 10px 45px;
  }
}
 @media (min-width: 1442px) {
   .button3d {
     padding: 20px 80px;
  }
}
 .button3d::before {
   content: '';
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #fff;
   border-radius: 8px;
   -webkit-transform: perspective(500) rotateY(0deg);
   -webkit-transition: all 0.6s cubic-bezier(0.7, 0.85, 0, 1.4);
   transition: all 0.6s cubic-bezier(0.7, 0.85, 0, 1.4);
}
 .button3d.left:hover::before, .button3d.left.active::before {
   background: #3e4f7c;
   -webkit-transform: perspective(500) rotateY(30deg);
}
 .button3d.right:hover::before, .button3d.right.active::before {
   background: #3e4f7c;
   -webkit-transform: perspective(500) rotateY(-30deg);
}
 .button3d span {
   font-family: 'pf_square_sans_probold', 'Tahoma';
   left: 0;
   position: relative;
   z-index: 200;
   color: #3e4f7c;
   line-height: 1;
   text-transform: uppercase;
   -webkit-transition: all 0.4s cubic-bezier(0.7, 0.85, 0, 1.4);
   transition: all 0.4s cubic-bezier(0.7, 0.85, 0, 1.4);
   text-shadow: 0px 14px 15px rgba(0,0,0,0.1);
}
 @media (max-width: 767px) {
   .button3d span {
     font-family: 'pf_square_sans_proregular', 'Tahoma';
     font-size: 14px;
  }
}
 @media (min-width: 768px) {
   .button3d span {
     font-family: 'pf_square_sans_proregular', 'Tahoma';
     font-size: 14px;
  }
}
 @media (min-width: 1200px) {
   .button3d span {
     font-size: 16px;
     text-shadow: 0px 8px 10px rgba(0,0,0,0.1);
  }
}
 @media (min-width: 1442px) {
   .button3d span {
     font-family: 'pf_square_sans_probold', 'Tahoma';
     font-size: 20px;
     text-shadow: 0px 14px 15px rgba(0,0,0,0.1);
  }
}
 .button3d.left:hover span, .button3d.left.active span {
   letter-spacing: 0px;
   left: 10px;
   color: #fff;
   text-shadow: -10px 14px 15px rgba(0,0,0,0.6);
}
 .button3d.right:hover span, .button3d.right.active span {
   left: -10px;
   color: #fff;
   text-shadow: 10px 14px 15px rgba(0,0,0,0.6);
}
 .main_sections {
   width: 100%;
   height: 100%;
}
 .main_sections section {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   width: 100%;
   height: 100%;
   opacity: 1;
}
 .op-enabled section {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   width: 100%;
   height: 100%;
   opacity: 0;
   -webkit-transition: all 0.7s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.7s cubic-bezier(0.5, 0.2, 0, 1);
}
 .op-enabled section.active {
   opacity: 1;
   -webkit-transition: all 2s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 2s cubic-bezier(0.5, 0.2, 0, 1);
}
 .onepage-pagination {
   opacity: 1;
   width: 64px;
   text-align: center;
}
 .onepage-pagination li {
   opacity: 0;
   right: -10px;
   -webkit-transform: scale(0.5, 0.5);
   -ms-transform: scale(0.5, 0.5);
   transform: scale(0.5, 0.5);
   text-align: center;
}
 .onepage-pagination li a {
   margin: 8px 0;
   display: inline-block;
   width: 18px;
   height: 18px;
   padding: 0;
   background: #fff;
   border: 2px solid #a04b52;
   outline: 1px solid #fff;
   -webkit-transform: rotate(45deg) scale(1, 1);
   -ms-transform: rotate(45deg) scale(1, 1);
   transform: rotate(45deg) scale(1, 1);
   -webkit-transition: all 0.5s cubic-bezier(0.7, 0.85, 0, 1.4);
   transition: all 0.5s cubic-bezier(0.7, 0.85, 0, 1.4);
}
 .onepage-pagination li a::before {
   display: none;
}
 .onepage-pagination li a::after {
   content: '';
   display: inline-block;
   position: absolute;
   display: block;
   position: absolute;
   width: 8px;
   height: 8px;
   background: #3e4f7c;
   top: 3px;
   left: 3px;
   border-radius: 0px;
}
 .onepage-pagination li a.active {
   margin: 8px 0;
   border: none;
   background: #3e4f7c;
   -webkit-transform: rotate(45deg) scale(1.3, 1.3);
   -ms-transform: rotate(45deg) scale(1.3, 1.3);
   transform: rotate(45deg) scale(1.3, 1.3);
}
 .onepage-pagination li a.active::after {
   display: none;
}
 .main_menu {
   position: absolute;
   width: 100%;
   padding: 64px 30px;
   z-index: 200;
   -webkit-transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
}
 .main_menu img, .main_menu .links, .main_menu .weather, .main_menu .phone {
   vertical-align: middle;
}
 .main_menu img.normal {
   display: inline-block;
}
 @media (max-width: 767px) {
   .main_menu img.normal {
     width: 160px;
  }
}
 @media (min-width: 768px) {
   .main_menu img.normal {
     width: 160px;
  }
}
 @media (min-width: 1200px) {
   .main_menu img.normal {
     width: 180px;
  }
}
 @media (min-width: 1442px) {
   .main_menu img.normal {
     width: auto;
  }
}
 .main_menu img.floated {
   display: none;
   opacity: 0;
   height: 74px;
   -webkit-transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
}
 .main_menu .links {
   display: inline-block;
}
 .main_menu .links ul.main {
   list-style: none;
   margin: 0;
   padding: 0;
}
 .main_menu .links ul.main > li {
   display: inline-block;
   vertical-align: middle;
   margin: 10px 16px 0 16px;
   opacity: 0;
   -webkit-transform: perspective(800) rotateX(-70deg);
   transform: perspective(800) rotateX(-70deg);
   -webkit-transform-origin: 50% 0%;
   -ms-transform-origin: 50% 0%;
   transform-origin: 50% 0%;
}
 @media (max-width: 767px) {
   .main_menu .links ul.main > li {
     margin: 10px 10px 0 10px;
  }
}
 @media (min-width: 768px) {
   .main_menu .links ul.main > li {
     margin: 10px 10px 0 10px;
  }
}
 @media (min-width: 1200px) {
   .main_menu .links ul.main > li {
     margin: 10px 10px 0 10px;
  }
}
 @media (min-width: 1442px) {
   .main_menu .links ul.main > li {
     margin: 10px 16px 0 16px;
  }
}
 .main_menu .links ul.main > li > a {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   color: #fff;
   text-transform: uppercase;
   font-size: 22px;
   -webkit-transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
}
 @media (max-width: 767px) {
   .main_menu .links ul.main > li > a {
     font-size: 14px;
  }
}
 @media (min-width: 768px) {
   .main_menu .links ul.main > li > a {
     font-size: 16px;
  }
}
 @media (min-width: 1200px) {
   .main_menu .links ul.main > li > a {
     font-size: 16px;
  }
}
 @media (min-width: 1442px) {
   .main_menu .links ul.main > li > a {
     font-family: 'pf_square_sans_promedium', 'Tahoma';
     font-size: 22px;
  }
}
 .main_menu .weather {
   display: inline-block;
   margin: 0 16px;
   padding: 0 24px;
   top: 24px;
   height: 28px;
   float: right;
   border-right: 1px solid rgba(255,255,255,0.5);
}
 .main_menu .weather span {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   display: inline-block;
   vertical-align: middle;
   line-height: 1;
   color: #fff;
}
 @media (max-width: 767px) {
   .main_menu .weather span {
     font-size: 22px;
  }
}
 @media (min-width: 768px) {
   .main_menu .weather span {
     font-size: 22px;
  }
}
 @media (min-width: 1200px) {
   .main_menu .weather span {
     font-size: 22px;
  }
}
 @media (min-width: 1442px) {
   .main_menu .weather span {
     font-size: 28px;
  }
}
 .main_menu .weather span.temp::after {
   content: '';
   display: inline-block;
   position: absolute;
   position: absolute;
   top: 2;
   right: -10px;
   width: 6px;
   height: 6px;
   border: 1px solid #fff;
   border-radius: 16px;
}
 .main_menu .phone {
   font-family: 'pf_square_sans_promedium', 'Tahoma';
   display: inline-block;
   text-transform: uppercase;
   color: #fff;
   float: right;
}
 @media (max-width: 767px) {
   .main_menu .phone {
     font-size: 22px;
  }
}
 @media (min-width: 768px) {
   .main_menu .phone {
     font-size: 22px;
  }
}
 @media (min-width: 1200px) {
   .main_menu .phone {
     font-size: 22px;
  }
}
 @media (min-width: 1442px) {
   .main_menu .phone {
     font-size: 28px;
  }
}
 .main_menu .phone span {
   display: block;
   text-align: right;
}
 .main_menu .phone span:nth-child(1) {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   font-size: 12px;
}
 .main_menu.floated {
   position: fixed;
   top: 0;
   margin: 0;
   padding: 16px 30px;
   background: #fff;
   border-bottom: 1px solid #a04b52;
}
 .main_menu.floated img.normal {
   display: none;
}
 .main_menu.floated img.floated {
   display: inline-block;
   height: 48px;
   opacity: 1;
}
 .main_menu.floated .links ul.main > li > a {
   font-size: 20px;
   color: #3e4f7c;
}
 @media (max-width: 767px) {
   .main_menu.floated .links ul.main > li > a {
     font-size: 14px;
  }
}
 @media (min-width: 768px) {
   .main_menu.floated .links ul.main > li > a {
     font-size: 14px;
  }
}
 @media (min-width: 1200px) {
   .main_menu.floated .links ul.main > li > a {
     font-size: 16px;
  }
}
 @media (min-width: 1442px) {
   .main_menu.floated .links ul.main > li > a {
     font-size: 20px;
  }
}
 .main_menu.floated .weather {
   display: none;
}
 .main_menu.floated .phone {
   color: #f15a38;
}
 @media (max-width: 767px) {
   .main_menu.floated .phone {
     font-size: 22px;
  }
}
 @media (min-width: 768px) {
   .main_menu.floated .phone {
     font-size: 22px;
  }
}
 @media (min-width: 1200px) {
   .main_menu.floated .phone {
     font-size: 22px;
  }
}
 @media (min-width: 1442px) {
   .main_menu.floated .phone {
     font-size: 28px;
  }
}
 .main_menu.floated .phone span:nth-child(1) {
   font-size: 4px;
   color: #fff;
}
 .main > li .submenu {
   width: 100%;
   position: absolute;
   background: #fff;
   border-radius: 8px;
   box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
   color: #f89f75;
   list-style: none;
   padding: 0;
   overflow: hidden;
   height: 0%;
   opacity: 0;
   -webkit-transition: opacity 0.3s ease, height 0.3s 0.3s linear;
   transition: opacity 0.3s ease, height 0.3s 0.3s linear;
}
 .main > li .submenu::before {
   content: '';
   display: inline-block;
   position: absolute;
   position: absolute;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   width: 12px;
   height: 12px;
   background: #fff;
   left: 12px;
   top: -6px;
}
 .main > li .submenu > a {
   display: block;
   color: #a04b52;
   text-transform: none;
   margin: 12px 12px 12px 12px;
   line-height: 1;
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
 @media (max-width: 767px) {
   .main > li .submenu > a {
     font-size: 14px;
  }
}
 @media (min-width: 768px) {
   .main > li .submenu > a {
     font-size: 14px;
  }
}
 @media (min-width: 1200px) {
   .main > li .submenu > a {
     font-size: 16px;
  }
}
 @media (min-width: 1442px) {
   .main > li .submenu > a {
     font-size: 18px;
  }
}
 .main > li .submenu > a:hover {
   color: #3e4f7c;
   text-decoration: underline;
}
 .main > li:hover .submenu {
   height: auto;
   opacity: 1;
   -webkit-transition: opacity 0.3s ease;
   transition: opacity 0.3s ease;
}
 .main_page_slider {
   width: 100%;
   height: 100%;
}
 .main_page_slider .slides {
   width: 100%;
   height: 100%;
}
 .main_page_slider .slides .slide {
   width: 100%;
   height: 100%;
   background-size: cover;
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
   opacity: 0;
   -webkit-transform: perspective(1500) scale(0.8, 0.8) rotateY(-20deg);
   transform: perspective(1500) scale(0.8, 0.8) rotateY(-20deg);
}
 .main_page_slider .slides .slide.is-selected {
   opacity: 1;
   -webkit-transform: perspective(1500) scale(1, 1) rotateY(0deg);
   transform: perspective(1500) scale(1, 1) rotateY(0deg);
}
 .main_page_slider .slides .slide.is-selected .info .title, .main_page_slider .slides .slide.is-selected .info .description, .main_page_slider .slides .slide.is-selected .info a.link_button {
   opacity: 1;
}
 .main_page_slider .slides .slide .info {
   height: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
 .main_page_slider .slides .slide .info .title {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   color: #a01e25;
   z-index: 50;
   opacity: 0;
   -webkit-transition: opacity 0.3s 0.6s cubic-bezier(0.5, 0.2, 0, 1);
   transition: opacity 0.3s 0.6s cubic-bezier(0.5, 0.2, 0, 1);
   text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 15px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
}
 @media (max-width: 767px) {
   .main_page_slider .slides .slide .info .title {
     font-size: 22px;
  }
}
 @media (min-width: 768px) {
   .main_page_slider .slides .slide .info .title {
     font-size: 22px;
  }
}
 @media (min-width: 1200px) {
   .main_page_slider .slides .slide .info .title {
     line-height: 1;
     font-size: 32px;
  }
}
 @media (min-width: 1442px) {
   .main_page_slider .slides .slide .info .title {
     font-size: 48px;
  }
}
 .main_page_slider .slides .slide .info .description {
   width: 70%;
   padding: 32px 0px;
   opacity: 0;
   -webkit-transition: opacity 0.5s 0.6s cubic-bezier(0.5, 0.2, 0, 1);
   transition: opacity 0.5s 0.6s cubic-bezier(0.5, 0.2, 0, 1);
}
 .main_page_slider .slides .slide .info .description p {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   top: -12px;
   color: #f15a38;
   font-size: 16px;
   line-height: 1.5;
}
 .main_page_slider .slides .slide .info .description::before {
   content: '';
   display: inline-block;
   position: absolute;
   width: 110%;
   height: 100%;
   background: #fff;
   position: absolute;
   top: 0;
   border-radius: 6px;
   -webkit-transform: perspective(500) rotateY(16deg) rotateX(-14deg);
   transform: perspective(500) rotateY(16deg) rotateX(-14deg);
   -webkit-transform-origin: 60% 50%;
   -ms-transform-origin: 60% 50%;
   transform-origin: 60% 50%;
}
 .main_page_slider .slides .slide .info a.link_button {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   display: block;
   text-transform: uppercase;
   font-size: 24px;
   padding: 16px 0;
   color: #fff;
   width: 60%;
   left: 20px;
   top: -20px;
   text-align: center;
   opacity: 0;
   -webkit-transition: opacity 0.7s 0.6s cubic-bezier(0.5, 0.2, 0, 1);
   transition: opacity 0.7s 0.6s cubic-bezier(0.5, 0.2, 0, 1);
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
 @media (max-width: 767px) {
   .main_page_slider .slides .slide .info a.link_button {
     font-size: 16px;
  }
}
 @media (min-width: 768px) {
   .main_page_slider .slides .slide .info a.link_button {
     font-size: 16px;
  }
}
 @media (min-width: 1200px) {
   .main_page_slider .slides .slide .info a.link_button {
     padding: 12px 0;
     font-size: 20px;
  }
}
 @media (min-width: 1442px) {
   .main_page_slider .slides .slide .info a.link_button {
     font-size: 24px;
  }
}
 .main_page_slider .slides .slide .info a.link_button::before {
   content: '';
   display: inline-block;
   position: absolute;
   width: 100%;
   height: 100%;
   background: #3e4f7c;
   border: 2px solid #3e4f7c;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 6px;
   -webkit-transform: perspective(500) rotateY(16deg) rotateX(-14deg);
   transform: perspective(500) rotateY(16deg) rotateX(-14deg);
   -webkit-transform-origin: 60% 50%;
   -ms-transform-origin: 60% 50%;
   transform-origin: 60% 50%;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
 .main_page_slider .slides .slide .info a.link_button:hover {
   color: #a04b52;
}
 .main_page_slider .slides .slide .info a.link_button:hover::before {
   background: #fff;
}
 .s-arrow {
   width: 120px;
   height: 120px;
   position: absolute;
   top: 50%;
   margin-top: -60px;
   z-index: 50;
   cursor: pointer;
   opacity: 0.5;
   -webkit-transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
}
 .s-arrow:hover {
   opacity: 1;
}
 .s-arrow.left {
   left: 30px;
   background: transparent url("../img/icons/slide-arrow-left.png") no-repeat center;
}
 .s-arrow.right {
   right: 30px;
   background: transparent url("../img/icons/slide-arrow-right.png") no-repeat center;
}
 .flickity-page-dots {
   bottom: 32px;
}
 .flickity-page-dots li.dot {
   opacity: 1;
   width: 14px;
   height: 14px;
   background: #3e4f7c;
   -webkit-transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   display: inline-block;
   vertical-align: middle;
   border: 2px solid transparent;
   -webkit-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   transform: scale(1, 1);
}
 .flickity-page-dots li.dot.is-selected {
   background: #fff;
   border: 2px solid #a04b52;
   -webkit-transform: scale(1.5, 1.5);
   -ms-transform: scale(1.5, 1.5);
   transform: scale(1.5, 1.5);
}
 .main.news {
   padding-top: 80px;
}
 .main.news .page-title {
   padding: 30px 0;
}
 .main.news .page-title h1 {
   font-family: 'pf_square_sans_promedium', 'Tahoma';
   color: #a01e25;
   text-transform: uppercase;
   font-size: 36px;
   line-height: 1;
}
 .news-item {
   margin: 16px 0;
   opacity: 1;
}
 .news-item .picture {
   width: 100%;
   line-height: 1;
   height: 256px;
   overflow: hidden;
}
 @media (min-width: 1200px) {
   .news-item .picture {
     height: 190px;
  }
}
 @media (min-width: 1442px) {
   .news-item .picture {
     height: 256px;
  }
}
 .news-item .picture::after {
   content: '';
   display: inline-block;
   position: absolute;
   display: inline-block;
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: transparent;
   box-shadow: 0px -60px 100px rgba(0,0,0,0.7) inset;
   z-index: 50;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
 .news-item .picture img {
   position: absolute;
   display: block;
   width: 100%;
   max-width: 100%;
}
 .news-item .picture .inf {
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   -webkit-transition: all 0.4s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.4s cubic-bezier(0.5, 0.2, 0, 1);
}
 .news-item .picture .inf .date {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   margin: 16px;
   margin-bottom: 0px;
   color: #fff;
   font-size: 14px;
   text-transform: uppercase;
   z-index: 100;
}
 @media (min-width: 1200px) {
   .news-item .picture .inf .date {
     font-size: 12px;
  }
}
 @media (min-width: 1442px) {
   .news-item .picture .inf .date {
     font-size: 14px;
  }
}
 .news-item .picture .inf .news-title {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   margin: 0px 16px;
   margin-bottom: 8px;
   font-size: 16px;
   z-index: 100;
   color: #fff;
}
 @media (min-width: 1200px) {
   .news-item .picture .inf .news-title {
     font-size: 14px;
  }
}
 @media (min-width: 1442px) {
   .news-item .picture .inf .news-title {
     font-size: 18px;
  }
}
 .news-item .picture .inf .description {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   overflow: hidden;
   font-size: 14px;
   line-height: 1.5;
   text-align: justify;
   color: #fff;
   margin: 0px 16px;
   height: 0px;
   opacity: 0;
   z-index: 100;
   -webkit-transition: opacity 0.8s cubic-bezier(0.5, 0.2, 0, 1), height 0.8s cubic-bezier(0.5, 0.2, 0, 1);
   transition: opacity 0.8s cubic-bezier(0.5, 0.2, 0, 1), height 0.8s cubic-bezier(0.5, 0.2, 0, 1);
}
 @media (min-width: 1200px) {
   .news-item .picture .inf .description {
     font-size: 12px;
     line-height: 1.2;
     height: 0px;
  }
}
 @media (min-width: 1442px) {
   .news-item .picture .inf .description {
     font-size: 14px;
     line-height: 1.5;
     height: 0px;
  }
}
 .news-item a.link {
   display: block;
   padding: 16px;
   font-family: 'pf_square_sans_promedium', 'Tahoma';
   font-size: 18px;
   width: 100%;
   background: #a04b52;
   -webkit-transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.3s cubic-bezier(0.5, 0.2, 0, 1);
   color: #fff;
   text-transform: uppercase;
   line-height: 1;
}
 @media (min-width: 1200px) {
   .news-item a.link {
     padding: 12px;
     font-size: 14px;
  }
}
 @media (min-width: 1442px) {
   .news-item a.link {
     padding: 16px;
     font-size: 18px;
  }
}
 .news-item a.link .comments {
   float: right;
}
 .news-item:hover .picture::after {
   content: '';
   display: inline-block;
   position: absolute;
   height: 100%;
   background: rgba(44,51,69,0.75);
   box-shadow: 0px -60px 100px #2c3345 inset;
   z-index: 50;
}
 .news-item:hover .picture .inf .date {
   color: #f89f75;
}
 .news-item:hover .picture .inf .description {
   opacity: 1;
}
 @media (min-width: 1200px) {
   .news-item:hover .picture .inf .description {
     font-size: 12px;
     line-height: 1.2;
     height: 120px;
  }
}
 @media (min-width: 1442px) {
   .news-item:hover .picture .inf .description {
     font-size: 14px;
     line-height: 1.5;
     height: 160px;
  }
}
 .news-item:hover a.link {
   background: #3e4f7c;
}
 .link_all {
   text-align: center;
}
 .main.live {
   padding-top: 80px;
}
 .main.live .live_tabs {
   margin: 24px 0;
}
 .live_tab_button {
   cursor: pointer;
}
 .live_tab_button::before {
   content: '';
   display: inline-block;
   position: absolute;
   position: absolute;
   top: 25%;
   right: 10%;
   width: 80%;
   height: 50%;
   background: #fff;
   border: 2px solid #3e4f7c;
   border-radius: 10px;
   -webkit-transform: perspective(500) skewX(-10deg) rotateY(30deg);
   transform: perspective(500) skewX(-10deg) rotateY(30deg);
   -webkit-transition: all 0.2s cubic-bezier(0.7, 0.85, 0, 1.4);
   transition: all 0.2s cubic-bezier(0.7, 0.85, 0, 1.4);
}
 @media (min-width: 1200px) {
   .live_tab_button::before {
     top: 30%;
     height: 40%;
     width: 85%;
     right: 0;
  }
}
 .live_tab_button .icon {
   display: inline-block;
   vertical-align: middle;
   width: 118px;
   height: 118px;
   border-radius: 50%;
   border: 4px solid transparent;
   -webkit-transform: scale(0.9, 0.9);
   -ms-transform: scale(0.9, 0.9);
   transform: scale(0.9, 0.9);
   -webkit-transition: all 0.2s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.2s cubic-bezier(0.5, 0.2, 0, 1);
   box-shadow: 3px 0px 6px rgba(0,0,0,0.1);
}
 @media (min-width: 1200px) {
   .live_tab_button .icon {
     -webkit-transform: scale(0.8, 0.8);
     -ms-transform: scale(0.8, 0.8);
     transform: scale(0.8, 0.8);
  }
}
 @media (min-width: 1442px) {
   .live_tab_button .icon {
     -webkit-transform: scale(0.9, 0.9);
     -ms-transform: scale(0.9, 0.9);
     transform: scale(0.9, 0.9);
  }
}
 .live_tab_button .icon.webcam {
   background: #3e4f7c url("../img/icons/live_tabs_sprite.png") no-repeat 100% 0%;
}
 .live_tab_button .icon.cable {
   background: #3e4f7c url("../img/icons/live_tabs_sprite.png") no-repeat 100% -110px;
}
 .live_tab_button .icon.weather {
   background: #3e4f7c url("../img/icons/live_tabs_sprite.png") no-repeat 100% -220px;
}
 .live_tab_button .tab_form {
   display: inline-block;
   vertical-align: middle;
   padding: 20px 16px;
   text-align: center;
   -webkit-transition: all 0.3s cubic-bezier(0.7, 0.85, 0, 1.4);
   transition: all 0.3s cubic-bezier(0.7, 0.85, 0, 1.4);
}
 @media (min-width: 1200px) {
   .live_tab_button .tab_form {
     padding: 20px 10px;
     margin-left: -16px;
  }
}
 @media (min-width: 1442px) {
   .live_tab_button .tab_form {
     padding: 20px 16px;
     margin-left: 0px;
  }
}
 .live_tab_button .tab_form span {
   top: 2px;
   font-family: 'pf_square_sans_promedium', 'Tahoma';
   color: #a01e25;
   font-size: 20px;
   text-transform: uppercase;
   -webkit-transition: all 0.5s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.5s cubic-bezier(0.5, 0.2, 0, 1);
   text-shadow: 0px 0px 8px rgba(0,0,0,0);
}
 @media (max-width: 767px) {
   .live_tab_button .tab_form span {
     font-size: 14px;
  }
}
 @media (min-width: 768px) {
   .live_tab_button .tab_form span {
     font-size: 14px;
  }
}
 @media (min-width: 1200px) {
   .live_tab_button .tab_form span {
     font-size: 16px;
  }
}
 @media (min-width: 1442px) {
   .live_tab_button .tab_form span {
     font-size: 20px;
  }
}
 .live_tab_button:hover::before, .live_tab_button.active::before {
   top: 25%;
   height: 50%;
   width: 80%;
   right: 0%;
   background: #a04b52;
   border: 2px solid #a04b52;
   border-radius: 10px;
   -webkit-transform: perspective(500) skewX(-10deg) rotateY(30deg) scale(1.1, 1.1);
   transform: perspective(500) skewX(-10deg) rotateY(30deg) scale(1.1, 1.1);
}
 .live_tab_button:hover .icon, .live_tab_button.active .icon {
   border: 4px solid #a04b52;
   -webkit-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   transform: scale(1, 1);
   -webkit-transition: all 0.2s cubic-bezier(0.7, 0.85, 0, 1.4), background 0.2s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.2s cubic-bezier(0.7, 0.85, 0, 1.4), background 0.2s cubic-bezier(0.5, 0.2, 0, 1);
}
 @media (min-width: 1200px) {
   .live_tab_button:hover .icon, .live_tab_button.active .icon {
     -webkit-transform: scale(0.85, 0.85);
     -ms-transform: scale(0.85, 0.85);
     transform: scale(0.85, 0.85);
  }
}
 @media (min-width: 1442px) {
   .live_tab_button:hover .icon, .live_tab_button.active .icon {
     -webkit-transform: scale(1, 1);
     -ms-transform: scale(1, 1);
     transform: scale(1, 1);
  }
}
 .live_tab_button:hover .icon.webcam, .live_tab_button.active .icon.webcam {
   background: #fff url("../img/icons/live_tabs_sprite.png") no-repeat 0% 0%;
}
 .live_tab_button:hover .icon.cable, .live_tab_button.active .icon.cable {
   background: #fff url("../img/icons/live_tabs_sprite.png") no-repeat 0% -110px;
}
 .live_tab_button:hover .icon.weather, .live_tab_button.active .icon.weather {
   background: #fff url("../img/icons/live_tabs_sprite.png") no-repeat 0% -220px;
}
 .live_tab_button:hover .tab_form, .live_tab_button.active .tab_form {
   padding: 0 8px;
}
 .live_tab_button:hover .tab_form span, .live_tab_button.active .tab_form span {
   color: #fff;
   font-size: 25px;
   text-shadow: 8px 8px 10px rgba(0,0,0,0.4);
}
 @media (max-width: 767px) {
   .live_tab_button:hover .tab_form span, .live_tab_button.active .tab_form span {
     font-size: 16px;
  }
}
 @media (min-width: 768px) {
   .live_tab_button:hover .tab_form span, .live_tab_button.active .tab_form span {
     font-size: 16px;
  }
}
 @media (min-width: 1200px) {
   .live_tab_button:hover .tab_form span, .live_tab_button.active .tab_form span {
     font-size: 18px;
  }
}
 @media (min-width: 1442px) {
   .live_tab_button:hover .tab_form span, .live_tab_button.active .tab_form span {
     font-size: 25px;
  }
}
 .webcam_section {
   margin: 16px 0;
}
 .webcam_item {
   margin: 16px 0;
   cursor: pointer;
}
 .webcam_item .title {
   font-family: 'pf_square_sans_promedium', 'Tahoma';
   font-size: 18px;
   line-height: 1;
   text-transform: uppercase;
   color: #3e4f7c;
   padding-bottom: 8px;
   margin-bottom: 8px;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
 .webcam_item .title::after {
   content: '';
   display: inline-block;
   position: absolute;
   position: absolute;
   left: 0;
   bottom: 0;
   height: 1px;
   width: 64px;
   background: #3e4f7c;
}
 .webcam_item .image {
   line-height: 0;
   overflow: hidden;
}
 .webcam_item .image img {
   max-width: 100%;
   width: 100%;
}
 .webcam_item .image::after {
   content: '';
   display: inline-block;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 0;
   background: rgba(62,79,124,0.7) url("../img/icons/webcam_play.png") no-repeat center;
   box-shadow: 0px 0px 0px 4px #3e4f7c inset;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
 .webcam_item:hover .title {
   color: #a01e25;
}
 .webcam_item:hover .image::after {
   opacity: 1;
}
 .webcam_splash {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 0%;
   opacity: 0;
   background: rgba(44,51,69,0.7);
   z-index: 100;
   -webkit-transition: opacity 0.3s ease, height 0.3s 0.3s ease;
   transition: opacity 0.3s ease, height 0.3s 0.3s ease;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-align-content: center;
   -ms-flex-line-pack: center;
   align-content: center;
}
 .webcam_splash.active {
   height: 100%;
   opacity: 1;
   -webkit-transition: opacity 0.3s ease;
   transition: opacity 0.3s ease;
}
 .webcam_splash .container {
   height: 70%;
}
 .webcam_splash .container .videoblock {
   width: 90%;
   margin: 0 auto;
   height: 100%;
   background: rgba(255,255,255,0.1);
   text-align: center;
}
 .webcam_splash .container .videoblock .close {
   position: absolute;
   top: 0;
   right: -100px;
   width: 80px;
   height: 80px;
   background: #a01e25;
   cursor: pointer;
}
 .main.info {
   font-size: 0;
   line-height: 0;
   letter-spacing: -1;
}
 .main.info .info_block {
   position: absolute;
   top: 0;
   display: inline-block;
   vertical-align: top;
   height: 100%;
   background: #fff;
   border: 2px solid #a04b52;
   border-top: none;
   border-bottom: none;
   z-index: 50;
   cursor: pointer;
   -webkit-transition: width 0.6s ease, left 0.6s ease, background 0.6s ease;
   transition: width 0.6s ease, left 0.6s ease, background 0.6s ease;
}
 .main.info .info_block .splash {
   content: '';
   display: inline-block;
   position: absolute;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 1;
   background: rgba(44,51,69,0.6);
   z-index: 60;
}
 .main.info .info_block.first {
   background: #fff url("../img/main_info/transport.jpg") no-repeat;
   background-position: center 0;
   background-size: auto 100%;
   background-size: cover;
   width: 33.33%;
   border-left: none;
   left: 0;
}
 .main.info .info_block.first:hover {
   width: 40%;
   z-index: 100;
   border-right: 4px solid #a04b52;
   background-position: center -250px;
   -webkit-transition: width 0.6s ease, background 0.6s ease;
   transition: width 0.6s ease, background 0.6s ease;
}
 .main.info .info_block.first:hover + div {
   left: 40%;
}
 .main.info .info_block.second {
   background: #fff url("../img/main_info/hotels.jpg") no-repeat;
   background-position: center 0;
   background-size: auto 100%;
   background-size: cover;
   width: 33.33%;
   left: 33.33%;
}
 .main.info .info_block.second:hover {
   width: 40%;
   left: 29.994999999999997%;
   z-index: 100;
   border-right: 4px solid #a04b52;
   border-left: 4px solid #a04b52;
   background-position: center -250px;
   -webkit-transition: width 0.6s ease, left 0.6s ease, background 0.6s ease;
   transition: width 0.6s ease, left 0.6s ease, background 0.6s ease;
}
 div ~ .main.info .info_block.second:hover {
   left: -3.335000000000001%;
}
 .main.info .info_block.second:hover + div {
   left: 69.995%;
}
 .main.info .info_block.third {
   background: #fff url("../img/main_info/rules.jpg") no-repeat;
   background-position: center 0;
   background-size: auto 100%;
   background-size: cover;
   width: 33.33%;
   border-right: none;
   left: 66.66%;
}
 .main.info .info_block.third:hover {
   width: 40%;
   left: auto;
   right: 0;
   z-index: 100;
   border-left: 4px solid #a04b52;
   background-position: center -250px;
   -webkit-transition: width 0.6s ease, left 0.6s ease, background 0.6s ease;
   transition: width 0.6s ease, left 0.6s ease, background 0.6s ease;
}
 .main.info .info_block .info {
   font-size: 16px;
   line-height: normal;
   letter-spacing: normal;
   position: absolute;
   left: 0;
   width: 100%;
   height: auto;
   -webkit-transition: all 0.4s cubic-bezier(0.5, 0.2, 0, 1);
   transition: all 0.4s cubic-bezier(0.5, 0.2, 0, 1);
   padding-bottom: 32px;
}
 .main.info .info_block .info .title {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   font-size: 60px;
   color: #3e4f7c;
   text-transform: uppercase;
   margin: 0px 64px;
}
 .main.info .info_block .info .deco {
   width: 90%;
   height: 96px;
   background: url("../img/info_deco_bg.png") no-repeat left center;
   background-size: 100%;
}
 .main.info .info_block .info .description {
   font-family: 'pf_square_sans_proregular', 'Tahoma';
   max-width: calc(100vw / 3);
   margin: 24px auto 0 auto;
   overflow: hidden;
   font-size: 18px;
   line-height: 1.5;
   color: #444;
   text-transform: none;
   text-align: justify;
   opacity: 0;
   -webkit-transition: opacity 0.3s ease;
   transition: opacity 0.3s ease;
}
 .main.info .info_block .info .description span {
   display: block;
   width: 100%;
}
 .main.info .info_block:hover .info {
   bottom: 0px !important;
}
 .main.info .info_block:hover .info .description {
   opacity: 1;
}
 .main.media {
   padding-top: 80px;
}
 .main.media .link_all {
   text-align: left;
}
 .main.media .link_all.center {
   text-align: center;
}
 .main_media_photos .image {
   font-size: 0;
   line-height: 0;
   letter-spacing: -1;
   margin: 8px 0;
}
 .main_media_photos .image::after {
   content: '';
   display: inline-block;
   position: absolute;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: rgba(44,51,69,0.7);
   z-index: 50;
   opacity: 0;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   cursor: pointer;
}
 .main_media_photos .image:hover::after {
   opacity: 1;
}
 .main_media_photos .image img {
   display: block;
   width: 100%;
   max-width: 100%;
}
 