.inst-item {
    margin-bottom: 48px;
    opacity:0;
    min-height: 400px;
}

.inst-item__photo {
	min-height: 347px;
	padding: 8px;
	border: 1px solid #ccc;
	box-shadow: 0px 6px 18px rgba(0,0,0,.1);
}

.inst-item__photo img {
    display: block;
    max-width: 100%;
}

.inst-item__meta span {
	display: inline-block;
	vertical-align: middle;
	font-size: 28px;
	font-weight: bold;
	color: #222;
}

.inst-item__meta .like {
	width: 24px;
	height: 24px;
	background: transparent url('../img/heart.png') no-repeat center;
	-webkit-background-size: 100%;
	background-size: 100%;
	margin-right: 10px;
}