// =====================
// WORK FILES
// =====================
@import 'variables.styl'
@import 'typography.styl'
@import 'mixins.styl'
@import 'animations.styl'

// =====================
// BLOCKS
// =====================
@import 'blocks/general.styl'
@import 'blocks/intro.styl'
@import 'blocks/serv.styl'
@import 'blocks/team.styl'
@import 'blocks/skill.styl'
@import 'blocks/portfolio.styl'
@import 'blocks/say.styl'
@import 'blocks/contact.styl'
@import 'blocks/follow.styl'