/*
===========================
CROSSBROWSER
===========================
*/

transform()
    -webkit-transform arguments
    transform arguments



t_origin()
    -webkit-transform-origin arguments
    transform-origin arguments



border-radius()
    -moz-border-radius arguments
    border-radius arguments



transition()
    -webkit-transition arguments
    transition arguments
       


animation()
    -webkit-animation arguments
    -moz-animation arguments
    animation arguments



filter()
    -webkit-filter arguments
    filter arguments



gradient(r, c1, c2)
    background: -webkit-linear-gradient(r, c1, c2);
    background: linear-gradient(r, c1, c2);



/*
===========================
STYLING
===========================
*/

noselect =
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;



reset-inline =
    font-size: 0;
    line-height: 0;
    letter-spacing: -1;



restore-inline =
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;





/*
===========================
FLEXBOX
===========================
*/

flex-centrify =
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;