// Colors
dark_text = #383838
  magenta = #ed5276
	salad = #5db5a4
	lgray = #e7e7e7
	igray = #b2b2b2
	lblue = #eefafb
	 pink = #f57a82


// Blocks
after =
	content ''
	display inline-block
	position absolute
	
after_cover =
	{after}
	top 0
	left 0
	width 100%
	height 100%