.blog
	width 100%
	text-align center
	
	.blog_post
		margin 32px auto 80px auto
		max-width 640px		

		.title
			text-align center
			font-size 24px
			color #666
			margin-bottom 16px
			{f_light}
			
		.image
			width 100%
			margin-bottom 16px
			
			img
				width 100%
				max-width 100%
				
		.description
			font-size 16px
			line-height 18px
			text-align left
			color #777
			
		.meta
			margin-top 16px
			text-align justify
			
			span,a 
				display inline-block
				vertical-align middle
				
			.date
				font-size 12px
				
			a
				border 1px solid #333
				border-radius 8px
				padding 4px 14px
				font-size 14px
				color #555
				float right