.cast_list
	width 80%
	margin 0 auto
	text-align center
	
	.item
		display inline-block
		vertical-align top
		width 30%
		text-align left
		margin-bottom 32px
		
		img
			display block
			
		span
			display block
			margin-top 8px
			font-size 18px
			{f_light}
			
.cast_pager
	width 80%
	margin 10px auto
	text-align center
	
	a
		color #000
		display inline-block
		margin 6px
		width 24px
		height 24px
		line-height 24px
		font-size 14px
		background transparent
		border-radius 50%
		
		&:hover
			background #d4eeff
			
		&.active
			border 1px solid #000