/*
=====================================================================================================================
Typograph
=====================================================================================================================
*/

*
	font-family 'Calibri'

.article
	z-index 300
	
	p
		font-size 16px
		line-height 1.5
		color #000
		text-align left
		width 100%
		margin 32px 0

h1
	font-family 'Calibri'
	text-transform uppercase
	margin 24px 0
	
	h1_sm =
		font-size 18px
		font-weight normal
		
	h1_mid =
		font-size 24px
		font-weight bold
	
	h1_nor =
		font-size 32px
		font-weight bold
		
	adapt(h1_sm, h1_mid, h1_nor)
	
h2
	font-family 'Calibri'
	text-transform uppercase
	margin 24px 0
	
	h2_sm =
		font-size 16px
		font-weight normal
		
	h2_mid =
		font-size 18px
		font-weight bold
	
	h2_nor =
		font-size 24px
		font-weight bold
		
	adapt(h2_sm, h2_mid, h2_nor)