body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #ddf;
}

* {
	position: relative;
}

.tree {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
	width: 300px;
	height: 400px;
	cursor: pointer;
}

.tree::after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	bottom: -4px;
	border-radius: 50%;

	background: rgba(0,0,0,.6);
	
	-webkit-filter: blur(5px);
	filter: blur(10px);

	transform: scale(0,0);

	width: 50px;
	height: 8px;

	transition: all .6s cubic-bezier(.9,.1,.1,.9);
}

.tree:hover::after {
	transform: scale(1.5,1);
}

.tree__base {
	z-index: 100;
	position: relative;
	width: 20px;

	border-top: none;
	border-bottom: 20px solid #730;

	border-left: 8px solid transparent;
	border-right: 8px solid transparent;

	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -18px;
	transition: all .8s cubic-bezier(.9,.1,.1,.9);
	opacity: 0;
}

.tree:hover .tree__base {
	border-bottom: 180px solid #730;
	opacity: 1;
}

.tree__branch {
	width: 6px;
	height: 0px;
	
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;

	border-bottom: 0px solid #730;
	border-top: none;

	transform: scale(0,0.9) rotate(30deg);
	transform-origin: 50% 100%;
	
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;

	transition: all 2s cubic-bezier(.9,.1,.1,.9);
}

.tree:hover .tree__branch:nth-child(1) {
	border-bottom: 60px solid #730;
	transform: scale(.9,.9) rotate(60deg);
	top: 30px;
	opacity: 1;
}

.tree:hover .tree__branch:nth-child(2) {
	transform: scale(.9,.9) rotate(-35deg);
	border-bottom: 60px solid #730;
	top: 15px;
	opacity: 1;
}

.tree:hover .tree__branch:nth-child(3) {
	transform: scale(.9,.9) rotate(40deg);
	border-bottom: 60px solid #730;
	top: 0px;
	opacity: 1;
}

.tree__leaves {
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 80%;
	background: green;
	border-radius: 70%;
	transform: scale(0,0);
	transform-origin: 50% 100%;
	transition: all 2.5s cubic-bezier(.9,.1,.1,.9);
	opacity: 0;
}

.tree:hover .tree__leaves {
	transform: scale(1,1);
	opacity:1;
}

.button {
	text-align: center;
	font-family: 'arial';
	font-size: 14px;
	text-transform: uppercase;

	padding: 16px 48px;
	border-radius: 1000px 100px;
	position: absolute;

	background: green;
	color: #fff;
	cursor: pointer;
}

.button b {
	font-size: 24px;
}

.button sub {
	font-size: 16px;
}

.button span {
	display: block;
}